.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #d78913;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.proje h1 {
    margin: 0;
    font-size: 24px;
    cursor: pointer;
}

.user p {
    margin: 0;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

.history {
    margin-right: 4%;
}

.history-button {
    background-color: white;
    color: #d78913;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.history-button:hover {
    background-color: #f0a500;
    color: white;
    border-color: #f0a500;
}

.namespace {
    margin-left: auto;
    margin-right: 4%;
}

.namespace-button {
    background-color: white;
    color: #d78913;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.namespace-button:hover {
    background-color: #f0a500;
    color: white;
    border-color: #f0a500;
}